$btnPrimaryBackground: purple;

@import 'bootstrap';
@import 'bootstrap-responsive';

.navbar .brand {
  background: url('logo3-2.png') left top no-repeat;
  width: 200px;
  height: 40px;
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: 75px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}

.nav-collapse.collapse {
  height: auto;
  overflow: visible;
  padding-top: 10px;
}

.center {
  margin-left: 75px;
}

/*a:link {
  color: #ffffff;
  text-decoration: none;
}*/

.dosnt a:hover {
  color: #ffffff;
}

.inline a:hover {
  color: purple;
}

.mainslide {
  margin-top: 50px;
  margin-right: -600px;
  margin-left: 300px;
}

.events {
  background: url("background1-3.png")  no-repeat;
  display: block;
  height: relative;
  min-height: 600px;
  margin-bottom: -140px;
  margin-top: -35px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.new-event {
  margin-top: 30px;
  opacity:1;
}

.hero-unit {
  background-color: rgba(204, 204, 204, .75);
}

.event {
  opacity: .99;
}
